.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.map-tooltip {
  width: 300px;
  background-color: white !important;
  border-radius: 15px !important;
  color: black !important;
  opacity: 1 !important;
  z-index: 1040 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* When using a portal with chakra-react-select, we make sure it shows even within a modal */
.chakra-react-select__menu-portal {
  z-index: 9999 !important;
}
